---
layout: archive
---



<p>I am a PhD student in economics.<p>

  
<hr>
My research interests include:
<ul>
  <li>Modern meta-analysis methods and publication bias detection</li>
  <li>Lead pollution and its economic consequences</li>
  <li>Applied econometrics</li>

<p><a href="/home/assets/images/CV_AH_2021.pdf">Curriculum Vitae</a></p>

  <hr>

<p>Upcoming conference presentations:<p>

  <p>I will presenting at <a href="http://www.eaere-conferences.org/">EAERE 2021</a>. The paper is <a href="home/assets/images/LeadCrimeMetaAnalysis_20210429.pdf">"The Lead-Crime Hypothesis: A Meta-Analysis"</a>, co-authored by Nick Hanley and Mikro Moro.<p>




