---
layout: archive
---



<p>I am a PhD student in economics.<p>

  
<hr>
My research interests include:
<ul>
  <li>Modern meta-analysis methods and publication bias detection</li>
  <li>Environmental economics, especially effects of pollution</li>
  <li>Applied econometrics</li>

<p><a href="/home/assets/images/CV_AH_2022.pdf">Curriculum Vitae</a></p>
  
<hr>


<strong>Upcoming Conferences</strong>
  
I will be presenting at the following conferences:

<ul>
  <li>EAERE 2022 in Rimini

  <li>Scottish Economic Society 2022 in Glasgow

  <li>SGPE Conference 2022 in Crieff


<hr>





