---
layout: archive
classes: wide
header:

  overlay_image:/assets/images/headerimage.jpg
  caption: ""
---

<!DOCTYPE html>
<html>
<head>
	{% include header.html %}
	{% include head.html %}
</head>
<body>
	<div class="page-wrap">

	{{content}}

	</div>


<p>I am a PhD student in economics.<p>

  
<hr>
My research interests include:
<ul>
   <li>Environmental economics</li>
   <li>Applied microeconometrics</li>
   <li>Meta-research</li>
  <li> test5 </li>
 

<p><a href="/home/assets/images/CV_AH_2022.pdf">Curriculum Vitae</a></p>
  
<hr>


  

    
  


<hr>

	<footer class="site-footer">
		{% include footer.html %} 
	</footer>
</body>
</html>



