/* ==========================================================================
   SIDEBAR
   ========================================================================== */

/*
   Default
   ========================================================================== */

.sidebar {
  @include clearfix();
  position: fixed; /* Sidebar stays in place */
  top: 0;
  left: 0;
  width: 250px; /* Adjust as needed */
  height: 100vh; /* Full viewport height */
  overflow-y: auto; /* Enables scrolling within sidebar */
  background-color: #f8f9fa;
  z-index: 1000;

  @include breakpoint(max-width $large) {
    /* Fix z-index order of follow links */
    position: relative;
    z-index: 10;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  @include breakpoint($large) {
    opacity: 0.9;
    -webkit-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;

    &:hover {
      opacity: 1;
    }
  }

  > * {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 0;
    font-family: $sans-serif-narrow;
  }

  p,
  li {
    font-family: $sans-serif;
    font-size: $type-size-6;
    line-height: 1.5;
  }

  img {
    width: 100%;

    &.emoji {
      width: 20px;
      height: 20px;
    }
  }
}

/* Sticky Sidebar (Optional) */
.sidebar.sticky {
  position: sticky;
  top: 0;
  width: 250px;
  height: auto;
  z-index: 1000;
  background-color: #f8f9fa;
}

/*
   Wide Pages
   ========================================================================== */

.wide .sidebar__right {
  margin-bottom: 1em;

  @include breakpoint($large) {
    position: initial;
    top: initial;
    right: initial;
    width: initial;
    margin-right: initial;
    padding-left: initial;
    z-index: initial;

    &.sticky {
      float: none;
    }
  }

  @include breakpoint($x-large) {
    width: initial;
    margin-right: initial;
  }
}
